.PromotionWindow {
    position: absolute;
    z-index: 0;
    padding: 5px;
    
}

.PromotionCoreBlack {
    display: flex;
    position: relative;
    right: 115px;
    bottom: 15px;
    animation: reveals-itself 1s ease;
    transition: opacity 0.5s ease;
}

.PromotionCoreWhite {
    display: flex;
    position: relative;
    right: 115px;
    bottom: 165px;
    animation: reveals-itself 1s ease;
    transition: opacity 0.5s ease;
}

@keyframes reveals-itself {
    0% {
        opacity: 0%;
    }

    100% {
        opacity: 100%;
    }
}

.CharPiece {
    position: relative;
    top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: pop-up 0.4s ease;
    width: 75px;
}

.CharPiece:hover {
    cursor: pointer;
}

.CharPiece:hover .Char {
    transform: rotate(15deg);
}
.CharPiece:hover .Piece {
    transform: rotate(-10deg)
               translate(-10px , -10px);
}


.Char {
    z-index: 2;
    position: relative;
    right: 12px;
}

.Piece {
    height: 50px;
    width: 50px;
    z-index: 3;
    position: relative;
    left: 18px;
    transition: transform 0.20s ease;
}