.PlaygroundGrid {
    display: grid;
    position: absolute;
    transform: translate(-50%, 15%);
    left: 50%;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(8, 1fr);
}

.Box {
    height: 90px;
    width: 90px;
    border: 1px solid red;
}

.CharPiece {
    position: relative;
    top: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Char {
    z-index: 1;
    position: relative;
    right: 12px;
}

.Piece {
    z-index: 2;
    position: relative;
    left: 12px;
}