.PlaygroundGrid {
    z-index: 2;
    display: grid;
    position: absolute;
    transform: translate(-50%, 50%);
    left: 50%;
    bottom: 55%;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(8, 1fr);
    border: 1px solid black;
    box-shadow: 4px 4px 6px 2px lightgray;
    animation: appears var(--slide-screen-time) ease;
}

@keyframes appears {
    0% {
        bottom: -175%;
    }

    100% {
        bottom: 55%;
    }
}

.Box {
    position: relative;
    height: 86px;
    width: 86px;
    transition: background-color 0.25s ease;
    overflow: hidden;
}

.CharPiece {
    position: relative;
    top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: pop-up 0.4s ease;
}

.IsSelectable {
    cursor: pointer;
}

@keyframes pop-up {
    0% {
        transform: scale(0);
    }
    80% {
        transform: scale(1.2);
    }
    100% {
        transform: scale(1);
    }
}

.IsSelected {
    box-sizing: border-box;
    background: linear-gradient(0deg, rgb(250, 209, 73) 0%, rgba(223,231,87,0) 50%, rgb(250, 209, 73) 100%);     
    animation: moving-background 6s linear infinite;
    background-size: 500% 500%;
    transition: background-color 0.25s ease;
}

@keyframes moving-background {
    0% {
        background-position: 0% 0%;
    }
    100% {
        background-position: 0% 500%;
    }
} 

.Char {
    z-index: 2;
    position: relative;
    right: 12px;
}

.Piece {
    height: 50px;
    width: 50px;
    z-index: 3;
    position: relative;
    left: 18px;
    transition: transform 0.20s ease;
}

.Box:hover .Char {
    transform: rotate(15deg);
}
.Box:hover .Piece {
    transform: rotate(-10deg)
               translate(-10px , -10px);
}

.DisplayStocks {
    position: relative;
    z-index: 4;
    top: 22px;
    margin: 0 auto;
    opacity: 0;
    width: fit-content;
}

.Visible {
    animation: slide 0.25s ease forwards;
}

@keyframes slide {
    0% {
        top: 22px;
    }
    100% {
        top: -2px;
        opacity: 1;
    }
}


.OuterCircle {
    position: absolute;
    border-radius: 100%;
    top: 14px;
    left: 13px;
    background-color: red;
    height: 60px;
    width: 60px;
    background: linear-gradient(0deg, rgb(250, 209, 73) 0%, rgba(224, 231, 87, 0.6) 25%, rgb(250, 209, 73) 50%, rgba(224, 231, 87, 0.6) 75%, rgb(250, 209, 73) 100%);     
    animation: moving-background 12s linear infinite,
                rotate 3s linear infinite,
                goesVisible 0.35s ease forwards;
    background-size: 500% 500%;
    overflow: hidden;
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
} 

@keyframes goesVisible {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}


.InnerCircle {
    position: absolute;
    border-radius: 100%;
    top: 5px;
    left: 5px;
    height: 50px;
    width: 50px;
    transition: background-color 0.25s ease;
}
