.BoardSelectionScreen {
    display: flex;
    flex-direction: column;
    position: absolute;
    transform: translate(-50%, 50%);
    left: 50%;
    bottom: 55%;
}
.SelectorContainer {
    display: flex;
    flex-direction: row;
    border: 1px solid var(--deeper-color);
    background-color: var(--lighter-color);
    justify-content: space-between;
    margin: 0 auto;
    margin-top: 10px;
    border-radius: 10px;
    align-items: center;
    padding: 4px;
    width: 98%;
    height: 62px;
    box-shadow: 2px 2px 2px 0px var(--deeper-color);
    transition: background-color 0.30s ease;
}

.StageSelector {
    position: relative;
    right: 10px;
    width: 250px;
    margin: 0 auto;
}

.RandomButtonAdjusted {
    position: relative;
    right: 30px;
}

.LockStageSelectionButton {
    position: relative;
    width: 250px;
    height: 50px;
    align-self: center;
    margin-top: 15%;
    font-size: 1.3em;
    text-transform: uppercase;
    font-weight: 500;
    color: white;
    background-color: var(--deeper-color);
    border-radius: 5px;
    border: 1px solid black;
    box-shadow: 2px 2px 0 0 black;
    transition: transform 0.15s ease;

}

.LockStageSelectionButton::after{
    content: 'Lock Stage Selection';
}

.LockStageSelectionButton:hover {
    cursor: pointer;
    border: 1px solid white;
}

.LockStageSelectionButton:active {
    box-shadow: none;
    left: 2px;
    top: 2px;
}

.LockedSelectionStageButton {
    background-color: green;
    font-size: 1.8em;
}

.LockedSelectionStageButton:after {
    content: '✓'; 
}