.PieceCharacterAssociation {
    display: flex;
    flex-direction: row;
    border: 1px solid var(--deeper-color);
    background-color: var(--lighter-color);
    justify-content: space-between;
    margin-top: 10px;
    border-radius: 10px;
    align-items: center;
    padding: 4px;
    width: 350px;
    box-shadow: 2px 2px 2px 0px var(--deeper-color);
    transition: background-color 0.30s ease;
}


.CharacterImage {
    pointer-events: none;
    position: relative;
    z-index: 1;
    left: 5px;
    bottom: 8px;

}

.PieceImage {
    pointer-events: none;
    position: relative;
    z-index: 2;
    left: 25px;
    top: 5px;

}

.CharacterSelection{
    position: relative;
    right: 12px;
    text-align: center;
    transition: opacity 0.30s ease;
}

.CharacterSelection:hover {
    cursor: pointer;
}

.Combo {
    position: relative;
    left: -8px;
    transition: left 0.5s ease;
}

.ComboCentered {
    left: 115px;
    transition: left 0.5s ease;
}

.Disabled {
    opacity: 0;
}

.Disabled:hover {
    cursor: default;
}