.PlayerTeamComposition {
    display: flex;
    flex-direction: column;
}

.LockCompositionButton {
    position: relative;
    width: 250px;
    height: 50px;
    align-self: center;
    margin-top: 15%;
    font-size: 1.3em;
    text-transform: uppercase;
    font-weight: 500;
    color: white;
    background-color: var(--deeper-color);
    border-radius: 5px;
    border: 1px solid black;
    box-shadow: 2px 2px 0 0 black;
    transition: transform 0.15s ease;

}

.LockCompositionButton::after{
    content: 'Lock Composition';
}

.LockCompositionButton:hover {
    cursor: pointer;
    border: 1px solid white;
}

.LockCompositionButton:active {
    box-shadow: none;
    left: 2px;
    top: 2px;
}

.LockedCompositionButton {
    background-color: green;
    font-size: 1.8em;
}

.LockedCompositionButton:after {
    content: '✓';
}